<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Games</title>
</head>
<body>
    <header>
        <img src="./img/logo.png">
    </header>

    <div id="game_background"></div>

    <div id="game_Div" th:each="jogo : ${listarjogos}">
        <section class="game-section">
            <h3 th:text= "${jogo.getNome()}" class="game-title">
            </h3>
            <p class="game-description" th:text= "${jogo.getDescricao()}">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam sequi quia perspiciatis reiciendis fuga asperiores similique aliquid voluptatum. Ab iusto placeat labore. Optio vero tempore enim, reprehenderit distinctio voluptates consequuntur?
            </p>
            <p class="game-price" th:text= "${jogo.getPreco()}">
                R$ 54,90
            </p>
        </section>

        
    </div>

    <footer>
        
    </footer>

</body>
</html>